<%= link_to "New Collection", new_collection_path, :id => 'new-button' %>

<table class="ui table">
  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= link_to "Edit", [:edit, collection] %></td>
        <td><%= link_to "Delete", [collection], method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
