<table class="ui table">
  <tbody>
    <% @module_groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= render :partial => 'activation_link', :locals => { :group => group } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
