<div class="components-container container">
  <h5>Components</h5>
  <% (form.object.components || {}).each_pair do |key, component| %>
    <%= render :partial => 'component', :locals => { :key => key, :component => component, :form => form, :template => template, :container_class => "" } %>
  <% end %>
  <% unless template %>
    <%= render :partial => 'component', :locals => { :key => 'key', :component => {}, :form => form, :container_class => "hidden component-template", :template => true } %>
  <% end %>
  <%= link_to "Add Component", "javascript:void(0);", :class => "add-field", :data => { :template_class => 'component-template'} %>
</div>