<% if errors.any? %>
  <div class="alert alert-danger fade in error-messages-container" style="text-align:left;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Please fix following errors</strong><br/>
    
      <% errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    
  </div>
<% end %>