<div class="header clearfix">
  <div class="menu"></div>

  <%= link_to dashboard_path do %>
    <h1 class="gione_logo"></h1>
  <% end %>

  <div class="filter"></div>
  <div class="sort"></div>
  <div class="request_dashboard"></div>

  <div class="clear"></div>
</div>