<div class="header clearfix">
     <div class="menu"></div>

     <h1 class="gione_logo">
      <a href="">Gionee</a></h1>
     <div class="filter"></div>
     <div class="sort"></div>
     <div class="request_dashboard"></div>

    <div class="clear"></div>
</div>