<div class="header">
  <div class="center_wrapper">

    <div class="fleft">
      <%= link_to dashboard_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
    </div>

    <div class="fright">
      <% if logged_in? %>
        <%= link_to "Log out", users_sign_out_path, :method => :delete %>
      <% end %>
    </div>

    <div class="clear"></div>
    
  </div>
</div>