<div class="organization-nav-container">
  <div class="nav-link"><%= link_to "HeadQuarter Address", edit_hq_addresses_path %></div>
  <div class="nav-link"><%= link_to "Job Titles", job_titles_path %></div>
  <div class="nav-link"><%= link_to "Branch Offices", addresses_path %></div>
  <div class="nav-link"><%= link_to "Departments", departments_path %></div>
</div>