<div class="pd-detail">
  <select>
    <option value="-1">CMO Name</option>
    <option value=""></option>
  </select>
</div>

<div class="input_txt"><input type="text" value="Retailer code" name="retailer"></div>

<div class="input_tx"><input type="text" value="RSP name" name="rsp"></div>

<input type="tel" value="RSP Mobile Number" name="mobile">

<input type="e-mail" value="RSP sales tag app user ID" name="e-mail">

