<div class="pd-detail">
 <select></select>
</div>

<div class="input_txt">
 <input type="text">
</div>

<div class="input_tx">
 <input type="text">
</div>

<div class="pd-detail">
<input type="text">
</div>

<div class="input_txt">
<input type="tel">
</div>

<div class="input_tx">
 <input type="text">
</div>

<div class="pd-detail">
 <select></select>
</div>

<div class="input_txt">
 <select></select>
</div>

<div class="input_tx">
<select></select>
</div>

<div class="input_tx">
<select></select>
</div>

<div class="pd-detail">
<input type="text">
</div>

<div class="input_txt">
 <input type="text">
</div>