

<div class="request_wrap clearfix">
<div>Request dashboard</div>
<div class="req_cont clearfix">

<div class="links_blc">
<div class="active"><%= link_to "Pending", requests_path(:q => { :status => 'pending' }) %></div>
<div><%= link_to "Declined", requests_path(:q => { :status => 'declined' }) %></div>
<div><%= link_to "Approved", requests_path(:q => { :status => 'approved' }) %></div>
</div>
 <!--  -->
 <div class="req_info">
<div>Deepak Sharma</div>
<div>Dilshad garden</div>
 </div>

<div class="req_desc">
<div>Pashi ywulf</div>
<div>jygtwd</div>
</div>

  </div>
  <!-- req_cont-end -->
</div>
<!-- req-wrap-end -->

</div>