<div class="request_wrap clearfix">
  <div>Select the type of request</div>

  <div class="req_blc">
    <div class="requstr_main">
      <div>SIS requirement</div>
      <div>in-shop requirement</div>
      <div>GSB requirement</div>
    </div>

    <div class="req_type">
      <div class="select">SIS </div>
      <div>ln-shop </div>
      <div>GSB requirement</div>
    </div>
  </div>

  <div class="req_cont clearfix">
    <div class="reqstr_detail">
      <div class="selected">Requestor Details <span>1</span></div>
      <div>shop Details <span>2</span></div>
      <div>Competition Details <span>3</span></div>
    </div>

    <div class="form_cont">
      <form>
        <%= form_for @request do |f| %>
          <%= render :partial => 'requestor_details', :locals => { :f => f } %>
          <%= render :partial => 'shop_details', :locals => { :f => f } %>
          <%= render :partial => 'competition_details', :locals => { :f => f } %>
        <% end %>
      </form>
    </div>

    <div class="submt"><input type="submit" value="Next" name="submit button"></div>

  </div>

</div>