<div class="row">
	<div class="col-md-5">
		Maintenance requested by
	</div>
	<div class="col-md-4">
		<div class="blue"><%=@request.maintenance_requestor%></div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		Maintenance requester contact number
	</div>
	<div class="col-md-4">
		<div class="blue"><%=@request.maintenance_requestor_mobile_number%></div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		Type of issue
	</div>
	<div class="col-md-4">
		<div class="blue"><%=@request.type_of_issue%></div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		Type of problem
	</div>
	<div class="col-md-4">
		<div class="blue"><%=@request.type_of_problem%></div>
	</div>
</div>