<div class="approv_cont clearfix">
     
  <div class="appr_info">
    <div>Maintenance Requested By</div>
    <div><%= @request.maintenance_requestor %></div>
  </div>

  <div class="appr_info">
    <div>Mobile no:</div>
    <div><%= @request.maintenance_requestor_mobile_number %></div>
  </div>

  <div class="appr_info">
    <div>Type of ISSUE</div>
    <div><%= @request.type_of_issue %></div>
  </div>

  <div class="appr_info">
    <div>TYPE of Problem </div>
    <div><%= @request.type_of_problem %></div>
  </div>

</div>
