<!DOCTYPE html>
<html lang="en">
 <body class="body_help">
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
	<div id="wrapper_help">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-9 col-lg-9">
					<%=image_tag 'logo_orange.png',:class => 'help-icon'%>
					<h2 class="subtitle">COMING SOON.</h2>
					<div id="countdown"></div>
						
					
				</div>
				
			</div>	
		</div>
	</div>

  </body>
</html>