

<div class="request_wrap clearfix">
<div>Select the type of request</div>

<div class="req_blc">
<div class="requstr_main">
<div>SIS requirement</div>
<div>in-shop requirement</div>
<div>GSB requirement</div>
</div>
<div class="req_type">
<div class="select">SIS </div>
<div>ln-shop </div>
<div>GSB requirement</div>
</div>
</div>
 <!--  -->
 <div class="req_cont clearfix">
 <div class="reqstr_detail">
<div class="selected">Requestor Details <span>1</span></div>
<div>shop Details <span>2</span></div>
<div>Competition Details <span>3</span></div>
  </div>

  <div class="form_cont">
<form>
  <div class="pd-detail">
<select>
<option value="-1">CMO Name</option>
<option value=""></option>
</select>
</div>
<div class="input_txt"><input type="text" value="Retailer code" name="retailer"></div>
<div class="input_tx"><input type="text" value="RSP name" name="rsp"></div>
<input type="tel" value="RSP Mobile Number" name="mobile">
<input type="e-mail" value="RSP sales tag app user ID" name="e-mail">
</form>
</div>

<div class="submt"><input type="submit" value="Next" name="submit button"></div>

</div>
  <!-- req_cont-end -->
</div>
<!-- req-wrap-end -->

</div>