body {
  margin: 0px;
  padding: 0px;
}

#nav-bar-wrapper {
  margin: 0 auto;
  width: 750px;
}

#nav-bar {
  padding: 0px;
  float: right;
  margin: 0px;
}

#nav-bar li {
  display: inline;
  margin: 0px 5px;
}

#nav-bar-container {
  background-color: black;
  padding: 2px 0px 2px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1
}

#nav-bar a {
  color: white;
  text-decoration: none;
}

#page-container {
  position: relative;
  top: 25px;
  width: 750px;
  margin: 0 auto;
}

#new-button {
  padding: 5px 8px;
  text-decoration: none;
  background-color: rgb(116, 116, 235);
  color: white;
  display: inline-block;
  margin: 8px 0px 10px 0px;
}

.user-form {
  width: 500px;
  margin: 0 auto;
}

.user-form .form-field {
  margin: 4px 0px 8px 0px;
}

.user-form .form-field input, .user-form .form-field .field-value {
  width: 250px;
  height: 25px;
}

.form-field select {
  width: 250px;
}

.user-form .form-field label, .user-form .form-field .field-name {
  width: 150px;
  text-align: left;
  display: inline-block;
}

#form-title {
  text-align: center;
}

.field_with_errors {
  display: inline;
}

input[type="submit"] {
  background-color: rgb(65, 187, 65);
  color: white;
  font-size: 15px;
  border: none;
  padding: 4px 5px;
  cursor: pointer;
  margin-top: 8px;
}

.error-messages-container {
  padding: 1px 0px 1px 10px;
  margin-bottom: 25px;
  border: 1px solid rgb(235, 140, 140);
}

.error-messages-container h4 {
  margin: 2px 0px 2px 0px;
}

.error-messages-container ul {
  margin: 0px;
}

.password-form {
  width: 255px;
}

.organization-logo {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 8px;
}

.organization-nav-container {
  text-align: center;
}

.organization-nav-container .nav-link {
  display: inline-block;
}

.organization-nav-container .nav-link a {
  padding: 5px;
  display: block;
}

#welcome-msg { text-align: center; }

.weekly-off-field { width: 500px !important; }

.hidden { display: none !important; }

.image-container img { 
  max-width: 100px;
  max-height: 100px;
}

.image-container a {
  float: right;
}

.screen-name, .components-container, .component, .layout-element-container, .ui-elements-container, .ui-element, .elements-container, .layout-elements-container { border: 1px solid black; margin: 2px;}

.component, .ui-element, .layout-elements-container {
  margin: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{ margin: 0px; font-family: 'Lato', Calibri, Arial, sans-serif; background: #F4F4F4;}

/*===============================COMMON================================*/
.center_wrapper{ width:1100px; margin: auto;}
.fleft{ float: left;}
.fright{ float: right;}
.clear{ clear: both;}

.gray_background{ background: #F4F4F4;}
input, selct, textarea{ outline: none;}
/*===END===*/


/*===============================LOGIN PAGE================================*/
.login_wrapper
{ 
  width:300px; 
  margin:13% auto 0px auto; 
  background: #FFF;  
  box-shadow: 0px 0px 3px #CCC; 
  padding: 15px; 
  border-radius:5px;
}
.logobox
{
  padding-bottom: 15px; 
  text-align: center; 
  border-bottom: solid 1px #CCC; 
  margin-bottom: 15px;
}
.logobox img
{ 
  width: 100%;
}
.login_form input[type=text], .login_form input[type=password] 
{ 
  width: 100%; 
  padding: 10px; 
  border-radius:3px; 
  border:solid 1px #DDD; 
  margin-bottom: 10px; 
  background: #f7f7f7;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -os-box-sizing: border-box;
    -ms-box-sizing: border-box; 
}
.login_form input[type=password]
{ 
  margin-bottom: 20px;
}

.button_box .fleft, .button_box .fright{ width: 48%;}
.button_box .fleft{ font-size: 13px; color: #666; margin-top: 10px;}
.button_box .fleft input{ float: left; margin: 2px 5px 0px 0px;}
.button_box .fright input{ background: #009cd4; width: 100%; border:0px; padding: 10px; border-radius:3px; 
  color: #FFF; text-transform: uppercase; cursor: pointer;}
/*===END===*/



/*===============================DASHBOARD PAGE================================*/
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.main_container{ padding:10px;
  padding-bottom:40px;}
  #wrapper {
  min-height:100%;
  position:relative;
}
.box_menu{padding: 10px 0px;}
.box_menu .box{ 
  padding: 10px;
  width:20%; 
  max-width: 150px;
  margin: 10px 10px 20px 10px;  
  float: left;
  text-align: center;
  min-height: 220px;
}
.box_menu .box span
{
  border:solid 1px #CCC; 
  width:100%; max-width: 150px;
  min-height: 150px;
  display: block;
  margin-bottom: 15px;
  transition: 1s;
  cursor: pointer;
  background: #FFF;
}
.box_menu .box i
{
  font-size: 70px;
  color: #CCC;
  margin: 40px 0px;
  transition: 1s;
  display: inline-block;
}
.box_menu .box i img
{ width:60%;}
.box_menu .box span:hover{border:solid 1px #08af91; }
.box_menu .box span:hover i{ color: #04d8b3;
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}
/*===END===*/



.header{ height: 50px; background: #FFF; border-bottom: solid 1px #CCC; 
padding: 10px 0px; position: fixed; width: 100%; left: 0px; top: 0px;}
.header .fleft img{ height: 50px;}
.header .fright{ margin-top: 10px;}
.header .fright a{ color: #027fce; text-decoration: none;}

.footer{ background: #333; padding: 10px 0px; width: 100%; color: #999; text-align: center; font-size: 13px; height:20px;
  position:absolute;
  bottom:0;
  left:0;}


/*==================COMMON===============================*/
a{ color:#0472bf}
.fleft{ float: left;}
.fright{ float: right;}
.clear{ clear: both;}

/*================== TABLE ==================*/
.table_row{ display: table-row;}
.table_cell{ display: table-cell;}
.table_cell textarea{ width: 254px; height: 60px; resize:none; border:solid 1px #ccc; margin: 5px 0px;}
.table_cell ul{ list-style: none; margin: 0px; padding: 0px;}
.table_cell ul li{ float: left; margin-right: 15px;}
.table_cell input[type=radio]{ width:auto; float: left; margin: -3px 5px 0px 0px;}

.add_option{ margin: 10px 0px 5px 0px; }
.add_option input{ margin-bottom: 5px;}

