<div class="image-container container">
  <%= hidden_field_tag "#{params[:imageable_type]}[image_ids][]", image.id %>
  <%= image_tag image.image_url %>
  <%= link_to "Remove", "javascript:void(0);", :class => 'remove-field' %>
</div>